<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430034121300-qst2p0us5qhgr6vri0ra8037pm60v8e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430034121300-qst2p0us5qhgr6vri0ra8037pm60v8e9</string>
	<key>API_KEY</key>
	<string>AIzaSyDeAn7YfKLmPVrR_u8vz6XI0XtZMD3BBwY</string>
	<key>GCM_SENDER_ID</key>
	<string>430034121300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skypeClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-skype-c4554</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-skype-c4554.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430034121300:ios:ba7a479da80f7bd1beb3c1</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-skype-c4554.firebaseio.com</string>
</dict>
</plist>